<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="icon" type="image/png" href="https://i.ibb.co/RCV0S6R/shark.gif" />
    <title>Front Page</title>
    <%- include('../partials/postStyles') %>
</head>
<body>
    <nav>
        <a href="redditor/newuser">Create new account</a>
    </nav>
    <h1>Redditor</h1>

    <ul>
        <% for(let i = 0; i < redditor.length; i++){ %>
            <li>
                <a href="/redditor/<%= redditor[i].id %>">
                    <%= redditor[i].username %>
                </a>
                <form action="/redditor/<%= redditor[i].id %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE">
                </form>
                <a href="/redditor/<%= redditor[i].id %>/edit">Edit</a>
            </li>
        <% } %>
    </ul>

</body>
</html>
