<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="icon" type="image/png" href="https://i.ibb.co/RCV0S6R/shark.gif" />
    <title>Front Page</title>
    <%- include('../partials/postStyles') %>
</head>
<body>

    <%- include('../partials/nav') %>

    <div class='submitPost'>
        <ul>
            <% for(let i = 0; i < redditor.length; i++){ %>
                <li>
                    <a href="/redditor/<%= redditor[i]._id %>">
                        <%= redditor[i].username %>
                    </a>
                    <form action="/redditor/<%= redditor[i]._id %>/edit">
                        <button type="submit" class="btn btn-link btn-sm pull-left">EDIT</button>
                    </form>
                    <form action="/redditor/<%= redditor[i]._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-link btn-sm pull-left">DELETE</button>
                    </form>
                </li>
            <% } %>
        </ul>
    </div>

    <%- include('../partials/footer') %>

</body>
</html>

