<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="icon" type="image/png" href="https://i.ibb.co/RCV0S6R/shark.gif" />
    <title>Front Page</title>
    <%- include('../partials/postStyles') %>
</head>
<body>

    <%- include('../partials/nav') %>

    <div class='submitPost'>
        <ul>
                <li>
                    <h1><%= oneRedditor.username %></h1>
                </li>
                <li>
                    <p>Email: <%= oneRedditor.email %></p>
                </li>
                <li>
                    <p>Karma: <%= oneRedditor.karma %></p>
                </li>
                <li>
                    <p>Cakeday: <%= oneRedditor.createdAt %></p>
                </li>
        </ul>
    </div>

    <section>
        <h2>Posts</h2>
        <ul>
          <% oneRedditor.posts.forEach(post => { %>
          <li>
            <a href="/posts/<%= onePost._id %>"><%= onePost.title %></a>
            <span> submitted on: <%= onePost.createdAt %> </span>
          </li>
          <% }) %>
        </ul>
      </section>


    <%- include('../partials/footer') %>

</body>
</html>
